/* Estilos para o corpo e categorias permanecem os mesmos */
body {
    background-color: #395B64;
    color: #EEE4B1;
    font-family: Arial, sans-serif;
}

.category {
    margin-bottom: 5px;
}

.category h3 {
    margin-top: 7px;
    margin-bottom: 2px;
    color: #A5D7E8;
    font-size: 12pt;
/*     background-color:white; */
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8.5px;
}

button {
    flex: 1 1 calc(33.333% - 10px); /* Permite até 3 botões por linha */
    min-width: 50px; /* Largura mínima dos botões */
    background-color: #E7F6F2;
    color: #EEE4B1;
    border: 1px solid #EEE4B1;
    padding: 6.5px;
    cursor: pointer;
    font-weight: normal;
}

/* Categoria 1 */
.cat1 button.selected {
    background-color: #ff6f61; /* Cor base para Cat 1 */
    color: #000000; /* Texto preto */

}

.cat1 button.selected:nth-child(2) {
    background-color: #ff8a75; /* Tom mais claro */
}

.cat1 button.selected:nth-child(3) {
    background-color: #ff5047; /* Tom mais escuro */
}

/* Categoria 2 */
.cat2 button.selected {
    background-color: #6ec6ff; /* Cor base para Cat 2 */
    color: #000000; /* Texto preto */

}


/* Categoria 3 */
.cat3 button.selected {
    background-color: #94ff6e; /* Cor base para Cat 3 */
    color: #000000; /* Texto preto */

}


/* Nova Categoria (Cat 4) */
.cat4 button.selected {
    background-color: #ffd966; /* Cor base para Cat 4 */
    color: #000000; /* Texto preto */
    /*font-weight: bold;*/
}


/* Estilos para output e botões de ação permanecem os mesmos */
#output {
    width: 100%;
    margin-top: 12px;
    box-sizing: border-box; /* Para incluir padding e bordas no cálculo da largura */
    background-color: #133535;
/*    color: #191e1f; */
    border: 1px solid #3a556d;
    padding: 5px;
}

.action-buttons {
    margin-top: 7px;
    display: flex;
    gap: 10px;
}

#copyButton {
    background-color: #383838; /* Verde pastel */
    color: #000000; /* Texto preto */
    border: none;
    padding: 10px;
    cursor: pointer;
}

#cutButton {
    /* background-color: #f8c471; */ /* Amarelo pastel */
    background-color: #202020;
    color: #000000; /* Texto preto */
    border: none;
    padding: 10px;
    cursor: pointer;
}

#clearButton {
    /* background-color: #ff8a75;*/ /* Vermelho pastel */
    background-color: black;
    /* color: black;*/ /* Texto preto */
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 600px) {
    button {
        flex: 1 1 calc(50% - 10px); /* Permite até 2 botões por linha em telas menores */
    }
}

@media (max-width: 400px) {
    button {
        flex: 1 1 calc(100% - 10px); /* Permite 1 botão por linha em telas muito pequenas */
    }
}
